{{signerService.user$.getValue() | json}}
<hr>
<button (click)="signerService.login(EAuthType.keeper, null)">ProviderKeeper</button>
<button (click)="signerService.login(EAuthType.cloud, null)">ProviderCloud</button>
<button (click)="signerService.login(EAuthType.web, null)">ProviderWeb</button>
<button (click)="signerService.login(EAuthType.ledger, null)">ProviderLedger</button>
<button (click)="signerService.login(EAuthType.metamask, null)">ProviderMetamask</button>
<button (click)="signerService.login(EAuthType.seed, 'fire demand ignore yellow play voice common finish sponsor bunker issue silly whisper camp job')">ProviderSeed</button>
<hr>
<button (click)="signerService.getBalance()">getBalance</button>
<hr>
<button (click)="signerService.logout()">logout</button>
